<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Novengerse ( 노벤져스 )</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

    #team_title {
      padding: 50px 20px 20px 20px;
      text-align: center;
      color: goldenrod;
      font-family: "Nanum Pen Script", cursive;
    }

    .flip-box {
      width: 300px;
      height: 500px;
      margin: auto;
    }

    .flip {
      width: 100%;
      height: 100%;
      position: relative;
      color: white;
      text-align: center;
      line-height: 400px;
      transform-style: preserve-3d;
      transform: rotateY(0deg);
      transition: 0.5s;
    }

    .front,
    .back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
    }

    .front {
      background: skyblue;
    }

    .back {
      background: orange;
      transform: rotateY(180deg);
    }

    .flip-box:hover .flip {
      transform: rotateY(-180deg);
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      listing();
    });

    function listing() {
      fetch('/im').then((res) => res.json()).then((data) => {
        console.log(data);
        let rows = data['result'];
        rows.forEach(element => {
          let name = element['name'];
          let position = element['position'];
          let self_intro = element['self_introduce'];
          let mbti = element['mbti'];
          let comment = element['comment'];
          let blog = element['blog'];
          let image = element['image'];

          // a href="링크" 다음에 target="_blank" rel="noopener noreferrer"를 붙여서 보안을 유지하면서 새 페이지에서 열기
          let temp_html = `
                  <a href="${blog}" target="_blank" rel="noopener noreferrer">
                    <div class="flip-box">
                      <div class="flip">
                        <div class="front">
                          <div class="col">
                            <div class="card">
                              <img src="${image}" class="card-img-top"
                                height="300px" />
                              <div class="card-body" style="height: 200px;">
                                <h2 id="name" style="color:black">${name}</h2>
                                <h5 id="position" style="color:black">${position}</h5>
                                <h6 id="comment" style="color:red">${comment}</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="back">
                          <div class="col">
                            <h3 style="color:blueviolet">${mbti}</h3>
                            <h2 style="color:black">${self_intro}</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                    `;
          $('#member_intro').append(temp_html);
        });
      })
    }

    function save_member() {
      let name = $("#name").val();
      let position = $("#position").val();
      let s_i = $("#self_introduce").val();
      let mbti = $("#mbti").val();
      let comment = $("#comment").val();
      let blog = $("#blog").val();
      let img = $("#image").val();

      let formData = new FormData();
      formData.append("name_give", name);
      formData.append("po_give", position);
      formData.append("s_i_give", s_i);
      formData.append("mbti_give", mbti);
      formData.append("comment_give", comment);
      formData.append("blog_give", blog);
      formData.append("img_give", img);

      fetch("/im", { method: "POST", body: formData })
        .then((res) => res.json())
        .then((data) => {
          alert(data["msg"]);
          window.location.reload();
        });
    }
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">I'M</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="chk">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>
    <form class="d-flex" role="search">
      <button style="width: 100px" class="btn btn-outline-success" data-bs-toggle="modal"
        data-bs-target="#memberRegister" type="button">
        Register
      </button>
    </form>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="memberRegister" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">멤버 등록</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input id="name" class="form-control" type="text" placeholder="이름" />
          <input id="position" class="form-control" type="text" placeholder="직책" />
          <input id="mbti" class="form-control" type="text" placeholder="당신의 MBTI는?" />
          <input id="self_introduce" class="form-control" type="text" placeholder="자기소개를 적어주세요." />
          <input id="comment" class="form-control" type="text" placeholder="한마디 !" />
          <input id="blog" class="form-control" type="text" placeholder="블로그 주소" />
          <input id="image" class="form-control" type="text" placeholder="Image URL을 입력해주세요." />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button onclick="save_member()" type="button" class="btn btn-primary">
            등록하기
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="team_title">
    <h1>NoVengerse Team</h1>
  </div>

  <div class="line row row-cols-1 row-cols-md-5 g-4" id="member_intro">
    <a href="https://hoonsworld1211.tistory.com/"target="_blank" rel="noopener noreferrer">
      <div class="flip-box">
        <div class="flip">
          <div class="front">
            <div class="col">
              <div class="card">
                <img src="https://ca.slack-edge.com/T043597JK8V-U055SUCRHHQ-49b15a072ec3-512" class="card-img-top"
                  height="300px" />
                <div class="card-body" style="height: 200px;">
                  <h2 id="name" style="color:black">정영훈</h2>
                  <h5 id="position" style="color:black">팀장</h5>
                  <h6 id="comment" style="color:red">Comment</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="back">
            <div class="col">
              <h3 style="color:blueviolet">ESTJ</h3>
              <h2 style="color:black">Self-Introduce</h2>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="https://minker.tistory.com/"target="_blank" rel="noopener noreferrer">
      <div class="flip-box">
        <div class="flip">
          <div class="front">
            <div class="col">
              <div class="card">
                <img src="https://ca.slack-edge.com/T043597JK8V-U051QBSDC0L-27e242ae15c6-512" class="card-img-top"
                  height="300px" />
                <div class="card-body" style="height: 200px;">
                  <h2 id="name" style="color:black">김민규</h2>
                  <h5 id="position" style="color:black">팀원</h5>
                  <h6 id="comment" style="color:red">Comment</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="back">뒷면</div>
        </div>
      </div>
    </a>
    <a href="https://velog.io/@eternalife"target="_blank" rel="noopener noreferrer">
      <div class="flip-box">
        <div class="flip">
          <div class="front">
            <div class="col">
              <div class="card">
                <img src="https://ca.slack-edge.com/T043597JK8V-U0521PV9317-4b7edc2c2819-512" class="card-img-top"
                  height="300px" />
                <div class="card-body" style="height: 200px;">
                  <h2 id="name" style="color:black">김동현</h2>
                  <h5 id="position" style="color:black">팀원</h5>
                  <h6 id="comment" style="color:red">Comment</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="back">뒷면</div>
        </div>
      </div>
    </a>
    <a href="https://intellectualengineeringstorage.tistory.com/"target="_blank" rel="noopener noreferrer">
      <div class="flip-box">
        <div class="flip">
          <div class="front">
            <div class="col">
              <div class="card">
                <img src="https://ca.slack-edge.com/T043597JK8V-U0547RUT60G-g14810b85faf-512" class="card-img-top"
                  height="300px" />
                <div class="card-body" style="height: 200px;">
                  <h2 id="name" style="color:black">오동현</h2>
                  <h5 id="position" style="color:black">팀원</h5>
                  <h6 id="comment" style="color:red">Comment</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="back">뒷면</div>
        </div>
      </div>
    </a>
    <a href="https://medium.com/@simhae" target="_blank" rel="noopener noreferrer">
      <div class="flip-box">
        <div class="flip">
          <div class="front">
            <div class="col">
              <div class="card">
                <img src="https://ca.slack-edge.com/T043597JK8V-U052GQCMK6G-bdf252131c0b-512" class="card-img-top"
                  height="300px" />
                <div class="card-body" style="height: 200px;">
                  <h2 id="name" style="color:black">김민준</h2>
                  <h5 id="position" style="color:black">팀원</h5>
                  <h6 id="comment" style="color:red">Comment</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="back">뒷면</div>
        </div>
      </div>
    </a>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>